:root {
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --primary-pink-color: #e18585; 
  --secondary-pink-color: #ed6c83;

  --gray-color-300: #dcdcdc;
  --gray-color-400: #bdbdbd;
  --gray-color-500: #9c9c9c;
  --gray-color-600: #717171;
  --gray-color-700: #5c5c5c;

  --pink-color-100: #ffe9e9;
  --pink-color-200: #f38888;
  --pink-color-300: #d87878;
  --pink-color-400: #976c6c;

  --font-size-title: 2.5rem;
  --font-size-xlarge: 1.25rem; 
  --font-size-large: 1rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem 
}

html, body, #root {
  font-size: 100%;
  font: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

h1 {
  margin: 0;
}

#root {
  min-width: 360px;
}

body {
  font-family: PretendardWoffRegular, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}